body{
    background-image: url("assets/images/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;

    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-style: normal;
    font-size:100px;
    color:#a86d40;

    -webkit-text-stroke: 2px black;

    overflow:hidden;
}
#dzik{
    width: 450px;
    height: auto;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:250px auto auto auto;

    transition: 0.3s ease;
}
#stats{
    position:absolute;
    top:200px;
    right:100px;

    text-align: left;
}
#button-press{
    width: 200px;
    height: auto;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:550px auto auto auto;

    transition: 0.2s ease;
}
#result{

    text-align: center;
    margin:30px;
}
#dzik:active{
    transform: scale(0.8);
}
#button-press:active{
    transform: scale(0.85);

}